{% extends 'layout.html' %}
{% block head %}
    <style type="text/css">
        table.success-results tr[data-success="True"] {
            background-color: #d4edda
        }

        table.success-results tr[data-success="False"] {
            background-color: #f8d7da
        }
    </style>
{% endblock %}
{% block body %}
    <h1>Job {{ job['number'] }}</h1>
    <p><strong>Mutation operators used:</strong>&nbsp; {{ ", ".join(job['mutations']) }}</p>
    <h2>Tester Results</h2>
    {% include 'tables/testers.html' %}
    <h2>Page Results</h2>
    {% include 'tables/pages.html' %}
{% endblock %}
