<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--START Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <!--END Bootstrap-->
        <!--START Datatables-->
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
        <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script type="application/javascript">
            $.fn.dataTable.ext.search.push(
                function(settings, data, dataIndex, original) {
                    if ($("#" + settings.nTableWrapper.id + " .toolbar .failures").prop("checked")) {
                        return $(settings.nTable).dataTable().api().row(dataIndex).nodes().to$().attr("data-success") == "False";
                    } else {
                        return true;
                    }
                }
            );
        </script>
        <!--END Datatables-->
        <!--START Custom style-->
        <style type="text/css">
            table.success-results tr[data-success="True"] {
                background-color: #d4edda
            }
        
            table.success-results tr[data-success="False"] {
                background-color: #f8d7da
            }

            .dataTables_wrapper .toolbar {
            float: left;
            margin-bottom: 0px;
        }
        </style>
        <!--END Custom style-->
        <title>{% if title is defined %}{{ title }} - {% endif %}WATT</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <span class="sr-only"><a href="#body">Skip to content</a></span>
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
                {% if trap_nav is not defined or trap_nav == False %}
                    <a href="/" class="navbar-brand">WATT</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/job" class="nav-link">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a href="/config" class="nav-link">Config</a>
                        </li>
                    </ul>
                    <a class="btn btn-primary ml-md-auto" role="button" href="/job/new">New Job</a>
                {% else %}
                    <a href="#" class="navbar-brand">WATT setup</a>
                {% endif %}
            </nav>
            {% if breadcrumb is defined and ((trap_nav is defined and trap_nav == False) or trap_nav is not defined) %}
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">WATT</a></li>
                        {% for crumb in breadcrumb %}
                            <li class="breadcrumb-item"><a href="{{ crumb['url'] }}">{{ crumb['name'] }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}
        </header>
        <div class="container" id="body">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="container">
                <p style="text-align: center">Weber 0.0.1</p>
            </div>
        </footer>
    </body>
</html>
