{% macro _html_mutator_card(name, short_desc="", long_desc="", guidelines=[], examples=[], element_selector="", mutation="") -%}
    <div class="card" data-object="HTMLMutator">
        <div class="card-header">
            <h3 data-field="name" data-variety="attribute">{{ name }}</h3>
        </div>
        <div class="card-body">
            <p class="card-subtitle text-muted" data-field="shortDesc" data-variety="attribute">{{ short_desc }}</p>
            <p class="card-text" data-field="longDesc" data-variety="attribute">{{ long_desc }}</p>
            <p class="card-text text-muted" data-field="elementSelector" data-variety="element">{{ element_selector }}</p>
            <p class="card-text text-muted text-italic model-noncontainment-holder" data-field="guidelines" data-variety="noncontainment">
                {% for guideline in guidelines %}  
                    <span class="model-noncontainment-item" data-value="{{ guideline }}"></span>
                {% endfor %}
            </p>
            <textarea class="model-hidden" data-field="mutation" data-variety="element">{{ unautoescape(mutation) }}</textarea>
            <div class="model-section model-section-containment" data-field="examples" data-variety="containment">
                <div class="model-section-header">
                    <h3>Examples</h3>
                    <button type="button" class="btn btn-primary btn-sm" data-action="new" data-object="Example"><span aria-hidden="true">&plus;</span> Add</button>
                </div>
                <div class="model-section-body model-containment-holder">
                    {% for example in examples %}
                        {{ _example_card(example['before'], example['after']) }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <a href="javascript:void(0);" class="card-link" data-action="edit">Edit</a>
            <a href="javascript:void(0);" class="card-link text-danger" data-action="delete">Delete</a>
        </div>
    </div>
{%- endmacro %}
{% macro _example_card(before, after) -%}
    <div class="card" data-object="Example">
        <div class="card-body">
            <textarea readonly class="form-control" data-field="before" data-variety="element">{{ unautoescape(before) }}</textarea>
            <textarea readonly class="form-control" data-field="after" data-variety="element">{{ unautoescape(after) }}</textarea>
        </div>
        <div class="card-body">
            <a href="javascript:void(0);" class="card-link" data-action="edit">Edit</a>
            <a href="javascript:void(0);" class="card-link text-danger" data-action="delete">Delete</a>
        </div>
    </div>
{%- endmacro %}
{% macro _guideline_card(name, link="") -%}
    <div class="card" data-object="Guideline">
        <div class="card-header">
            <h3 data-field="name" data-variety="attribute">{{ name }}</h3>
        </div>
        <div class="card-body">
            <p class="card-text" data-field="link" data-variety="attribute">{{ link }}</p>
        </div>
        <div class="card-body">
            <a href="javascript:void(0);" class="card-link" data-action="edit">Edit</a>
            <a href="javascript:void(0);" class="card-link text-danger" data-action="delete">Delete</a>
        </div>
    </div>
{%- endmacro %}

{% macro unautoescape(text) -%}
    {% autoescape false %}
        {{ text }}
    {% endautoescape %}
{%- endmacro %}

{% extends 'layout.html' %}
{% block head %}
    <style type="text/css">
        .model-hidden, .model-blanks {
            display: none;
        }
        .model-section-header > * {
            display: inline-block;
        }
        .model-noncontainment-item {
            margin-right: 4px;
        }
        .model-noncontainment-item::after {
            content: ",";
        }
        .model-noncontainment-item:last-of-type::after {
            content: "";
        }

        .card[data-object="example"] {
            width: 18rem;
        }
        div[data-field="examples"] > .model-containment-holder > .card {
            display: inline-block;
            margin-right: 8px;
        }
    </style>
    <script type="application/javascript">
        function ltgtReplacement(text) {
            return text.replace(/&lt;/g, "<").replace(/&gt;/g, ">").replace(/&amp;/g, "&");
        }
        
        var editorCurrent = {}, editorNew = {}, deleterCurrent = undefined, editMade = false;

        function findNoncontainmentItem(value) {
            // Very basic lookup only
            var processedValue = value, foundNode;
            // Start path
            if (value.startsWith("//")) {
                foundNode = $("#model-root");
            } else {
                foundNode = jqSpan.parents("[data-object]").get(0);
                if (value == ".") {
                    return foundNode;
                }
            }
            processedValue = value.substring(2);
            // split up search path
            var searchPath = processedValue.split("/");
            try {
                for (var i = 0; i < searchPath.length; i++) {
                    var searchItem = searchPath[i], nodeCollection;
                    if (searchItem.startsWith("@")) {
                        // Looking for field
                        var fieldName = searchItem.substring(1).split(".")[0];
                        var field = $(foundNode).find('> [data-field="' + fieldName + '"], > .card-header > [data-field="' + fieldName + '"], > .card-body > [data-field="' + fieldName + '"]').get(0);
                        if ($(field).attr("data-variety") == "containment") {
                            nodeCollection = $(field).find('> .model-containment-holder > .card');
                        } else {
                            // Assuming it is a singlecontainment
                            nodeCollection = $(field).children(".card");
                        }
                    } else {
                        // Looking for object
                        var objectName = searchItem.split(".")[0];
                        nodeCollection = $(foundNode).find('[data-object="' + objectName + '"]');
                    }
                    if (searchItem.indexOf(".") != -1) {
                        foundNode = nodeCollection.get(searchItem.split(".")[1]);
                    } else {
                        foundNode = nodeCollection.get(0);
                    }
                }
            } catch(e) {
                console.error(e);
                alert("The model could not be loaded correctly");
                $(".model-options").hide();
            }
            
            return foundNode;
        }

        function findNoncontainmentValue(object) {
            var reversePath = [];
            var currentNode = object;
            while (currentNode.id != "model-root") {
                var field = $(object).parents('[data-field]').get(0);
                var fieldName = $(field).attr("data-field");
                if ($(field).attr("data-variety") == "containment") {
                    var fieldPosition = $(field).find("> .model-containment-holder > .card").index(currentNode);
                    reversePath.push("@" + fieldName + "." + fieldPosition);
                } else {
                    reversePath.push("@" + fieldName);
                }
                currentNode = $(field).parents("[data-object]").get(0);
            }
            return "//" + reversePath.reverse().join("/");
        }

        function getFieldText(field) {
            switch (field.tagName.toUpperCase()) {
                case "INPUT":
                case "SELECT":
                case "TEXTAREA":
                    return $(field).val();
                    break;
                default:
                    return field.innerHTML;
            }
        }

        function displayNoncontainmentItem(span) {
            jqSpan = $(span);
            var object = findNoncontainmentItem(jqSpan.attr("data-value"));
            var displayField = $(object).find('> [data-field][data-variety="attribute"], > * > [data-field][data-variety="attribute"]').get(0);
            jqSpan.html(getFieldText(displayField));
            jqSpan.click(function() {
                $('html, document').scrollTop($(object).offset().top);
            });
        }

        function addCardActions(card) {
            var jqCard = $(card);
            jqCard.find('> .card-header > [data-action="edit"], > .card-body > [data-action="edit"]').click(function() {
                openEditor(card);
            });
            jqCard.find('> .card-header > [data-action="delete"], > .card-body > [data-action="delete"]').click(function() {
                openDeleter(card);
            });
        }

        function getCardField(card, fieldName) {
            var fieldSelector = '[data-field="' + fieldName + '"]';
            var selector = '> .card-header > ' + fieldSelector + ', > .card-body > ' + fieldSelector;
            return $(card).find(selector).get(0);
        }

        function openEditor(card, caller=undefined) {
            var type;
            if (card == null) {
                type = caller.getAttribute("data-object");
                editorNew[type] = $(caller).parents("[data-field]").get(0);
            } else {
                type = card.getAttribute("data-object");
            }
            var modal = $('.model-editor[data-editor="' + type + '"]');
            modal.find('input, textarea, select').each(function() {
                var fieldName = $(this).attr("name");
                if (this.tagName.toUpperCase() == "SELECT") {
                    $(this).find("option").remove();
                    var objects = $(this).attr("data-objects").split(" ");
                    for (var i = 0; i < objects.length; i++) {
                        var entities = $("#model-root").find('.card[data-object="' + objects[i] + '"]');
                        for (var j = 0; j < entities.length; j++) {
                            var option = document.createElement("option");
                            option.setAttribute("value", findNoncontainmentValue(entities[j]));
                            option.appendChild(document.createTextNode(getFieldText($(entities[j]).find('> [data-field][data-variety="attribute"], > * > [data-field][data-variety="attribute"]').get(0))));
                            this.appendChild(option);
                        }
                    }
                }
                if (card == null) {
                    $(this).val("");
                } else {
                    var cardField = getCardField(card, fieldName);
                    if ($(cardField).attr("data-variety") == "noncontainment") {
                        var vals = []
                        $(cardField).find("span").each(function() {
                            vals.push($(this).attr("data-value"));
                        });
                        $(this).val(vals);
                    } else if ($(cardField).attr("data-value")) {
                        $(this).val($(cardField).attr("data-value"));
                    } else {
                        $(this).val(ltgtReplacement(cardField.innerHTML));
                    }
                }
            });
            editorCurrent[type] = card;
            modal.modal();
        }

        function saveEditor(type) {
            var card = editorCurrent[type];
            if (card == null) {
                card = $('.model-blanks > .card[data-object="' + type + '"]').clone(false);
                addCardActions(card.get(0));
                $(editorNew[type]).find("> .model-containment-holder").append(card);
                editorNew[type] = undefined;
            }
            var modal = $('.model-editor[data-editor="' + type + '"]');
            modal.find('input, textarea, select').each(function() {
                var fieldName = $(this).attr("name");
                var cardField = getCardField(card, fieldName);
                if ($(cardField).attr("data-variety") == "noncontainment") {
                    $(cardField).find("span").remove();
                    $(this).val().forEach(val => {
                        var span = document.createElement("span");
                        span.setAttribute("data-value", val);
                        span.setAttribute("class", "model-noncontainment-item");
                        displayNoncontainmentItem(span);
                        cardField.appendChild(span);
                    });
                } else if ($(cardField).attr("data-value")) {
                    $(cardField).attr("data-value", $(this).val());
                } else {
                    cardField.innerHTML = ltgtReplacement($(this).val());
                }
            });
            editorCurrent[type] = undefined;
            editMade = true;
            modal.modal('hide');
        }

        function openDeleter(card) {
            var type = card.getAttribute("data-object");
            var modal = $('.model-deleter');
            modal.find('[data-item="object"]').text(type);
            modal.find('[data-item="summary"]').text($(card).find('[data-field]').get(0).innerHTML);
            deleterCurrent = card;
            modal.modal();
        }

        function deleteDeleter() {
            var card = deleterCurrent;
            $(card).parent().get(0).removeChild(card);
            deleterCurrent = undefined;
            editMade = true;
            $('.model-deleter').modal('hide');
        }

        function buildXMLElement(dataObj) {
            var xml, data = $(dataObj), docu = new DOMParser().parseFromString("<xml></xml>", "application/xml");
            if (data.parents("[data-field]").length > 0) {
                // Is a child
                xml = docu.createElement(data.parents("[data-field]").attr("data-field"));
                xml.setAttributeNS("xsi", "xsi:type", data.attr("data-object"));
            } else {
                // Is the root
                xml = docu.createElement(data.attr("data-object"));
                xml.setAttribute("xmlns", data.attr("data-namespace"));
                xml.setAttribute("xmlns:xmi", "http://www.omg.org/XMI");
                xml.setAttribute("xmlns:xsi", "http://www.w3.org/2001/XMLSchema-instance");
                xml.setAttributeNS("xmi", "xmi:version", "2.0");
            }

            data.find("> .card-header > [data-field], > .card-body > [data-field], > [data-field]").each(function() {
                var field = $(this);
                var fieldName = field.attr("data-field");
                switch (field.attr("data-variety")) {
                    case "containment":
                        field.find("> .model-containment-holder > .card").each(function() {
                            xml.appendChild(buildXMLElement(this));
                        });
                        break;
                    case "element":
                        var newElem = docu.createElement(fieldName);
                        newElem.appendChild(docu.createCDATASection(ltgtReplacement(this.innerHTML)));
                        xml.appendChild(newElem);
                        break;
                    case "attribute":
                        if (field.attr("data-value") && field.attr("data-value") != "") {
                            xml.setAttribute(fieldName, field.attr("data-value"));
                        } else if (this.innerHTML != "") {
                            xml.setAttribute(fieldName, ltgtReplacement(this.innerHTML));
                        }
                        break;
                    case "noncontainment":
                        var items = [];
                        field.find('> .model-noncontainment-item').each(function() {
                            items.push($(this).attr("data-value"));
                        });
                        if (items.length > 0) {
                            xml.setAttribute(fieldName, items.join(" "));
                        }
                        break;
                    default:
                        break;
                }
            });

            return xml;
        }

        function storeModel(storageName=undefined) {
            var xml = buildXMLElement($("#model-root"));
            if (storageName != undefined) window.localStorage.setItem(storageName, new XMLSerializer().serializeToString(xml));

            return xml;
        }

        function saveModel() {
            $('#saving-modal').modal();

            // Build XML Model
            var xml = storeModel("lastSave");
            
            // Convert to XML
            var xmlString = '<?xml version="1.0" encoding="UTF-8"?>' + new XMLSerializer().serializeToString(xml);
            
            // Send to Server
            jQuery.ajax({
                'contentType': "application/xml",
                'data': xmlString,
                'method': "POST",
                'success': function(data) {
                    editMade = false;
                    window.location.href = data;
                },
                'error': function(jqXHR, textStatus, errorThrown) {
                    console.error(errorThrown);
                    alert(textStatus);
                }
            });
        }

        $(document).ready(function() {
            var modelEditors = $(".model-editor");
            modelEditors.on("shown.bs.modal", function() {
                $($(this).find("input, textarea").get(0)).trigger('focus');
            });
            modelEditors.find('button[data-action="save"]').click(function() {
                saveEditor($(this).parents(".model-editor").get(0).getAttribute("data-editor"));
            });
            $('.model-deleter button[data-action="delete"]').click(function() {
                deleteDeleter();
            });

            $('.model-noncontainment-item').each(function() {
                displayNoncontainmentItem(this);
            })
            $(".model-containment-holder > .card, .model-blanks > .card").each(function() {
                addCardActions(this);
            });

            $('.model-section-containment .model-section-header [data-action="new"]').click(function() {
                openEditor(null, this);
            });
            $('.model-options button[data-action="save"]').click(function() {
                saveModel();
            });
        });
        $(window).on("beforeunload", function() {
            if (editMade) {
                return "You have unsaved changes. Leave?";
            }
        });
    </script>
{% endblock %}
{% block body %}
    <h1>Mutation Editor</h1>
    <p class="font-italic text-muted">{{ model_path }}</p>
    <div class="model" id="model-root" data-object="MutatorSet", data-namespace="mutators">
        <div id="mutators" class="model-section model-section-containment" data-field="mutators" data-variety="containment">
            <div class="model-section-header">
                <h2>Mutations</h2>
                <button type="button" class="btn btn-primary btn-sm" data-action="new" data-object="HTMLMutator"><span aria-hidden="true">&plus;</span> Add</button>
            </div>
            <div class="model-section-body model-containment-holder">
                {% for mutator in mutators %}
                    {{ _html_mutator_card(mutator['name'], mutator['shortDesc'], mutator['longDesc'], mutator['guidelines'], mutator['examples'], mutator['elementSelector'], mutator['mutation']) }}
                {% endfor %}
            </div>
        </div>
        <div id="guidelines" class="model-section model-section-containment" data-field="guidelines" data-variety="containment">
            <div class="model-section-header">
                <h2>Guidelines</h2>
                <button type="button" class="btn btn-primary btn-sm" data-action="new" data-object="Guideline"><span aria-hidden="true">&plus;</span> Add</button>
            </div>
            <div class="model-section-body model-containment-holder">
                {% for guideline in guidelines %}
                    {{ _guideline_card(guideline['name'], guideline['link']) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr />
    <div class="model-options">
        <button type="button" class="btn btn-primary" data-action="save">Save Model</button>
    </div>
    <!-- Edit modals -->
    <div class="modal fade model-editor" tabindex="-1" role="dialog" data-editor="HTMLMutator">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">HTML Mutator</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="HTMLMutator">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="shortDesc">Short Description</label>
                            <input type="text" name="shortDesc" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="name">Long Description</label>
                            <input type="text" name="longDesc" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="guidelines">Guidelines</label>
                            <select multiple name="guidelines" class="form-control" data-objects="Guideline">
                            </select>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="elementSelector">Element Selector</label>
                            <input type="text" name="elementSelector" class="form-control" aria-describedby="elementSelector-help" />
                            <p class="form-text text-muted" id="elementSelector-help">Selector according to the <a href="https://api.jquery.com/category/selectors/" target="_blank">jQuery Selectors API</a></p>
                        </div>
                        <div class="form-group">
                            <label for="mutation">Mutation</label>
                            <textarea name="mutation" class="form-control" aria-describedby="mutation-help"></textarea>
                            <p class="form-text text-muted" id="mutation-help">Modify <code>element</code> using JavaScript</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-action="save">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade model-editor" tabindex="-1" role="dialog" data-editor="Example">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Example</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="Example">
                        <div class="form-group">
                            <label for="before">Before</label>
                            <textarea name="before" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="after">After</label>
                            <textarea name="after" class="form-control"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-action="save">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade model-editor" tabindex="-1" role="dialog" data-editor="Guideline">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Guideline</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="Guideline">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="link">Link</label>
                            <input type="url" name="link" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-action="save">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade model-deleter" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to delete <span class="text-weight-bold" data-item="object"></span> item <span class="text-weight-bold" data-item="summary"></span>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-action="delete">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="saving-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Saving...</h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blank Cards -->
    <div class="model-blanks">
        {{ _html_mutator_card("") }}
        {{ _example_card("", "") }}
        {{ _guideline_card("") }}
    </div>
{% endblock %}
