{% extends 'layout.html' %}
{% block head %}
    <style type="text/css">
        table.success-results tr[data-success="True"] {
            background-color: #d4edda
        }

        table.success-results tr[data-success="False"] {
            background-color: #f8d7da
        }
    </style>
    {% if job['status'] == "SUCCESS" %}
        <script type="application/javascript">
            $(document).ready(function() {
                $("#pages tr.page-result").each(function() {
                    var success = true;
                    $(this).find(".extra-results tr").each(function() {
                        if($(this).attr("data-success") == "False") {
                            success = false;
                        }
                    });
                    $(this).attr("data-success", success ? "True" : "False");
                });

                var table = $("#pages").DataTable({
                    "paging": false,
                    "info": false,
                    "dom": '<"toolbar form-check">ftrip',
                    "fnInitComplete": function() {
                        $("#pages_wrapper .toolbar").html('<label class="form-check-label"><input class="form-check-input failures" type="checkbox" />Show Failures only</label>');
                        $("#pages_wrapper .toolbar input").change(function() {
                            table.draw();
                        });
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
{% block body %}
    <h1>Job {{ job['number'] }} Pages</h1>
    {% include 'tables/pages.html' %}
{% endblock %}
