<table class="table" id="pages">
    <thead>
        <tr>
            <th>Page</th>
            <th>Mutation</th>
            <th>Parent</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        {% for page, data in summary.items() %}
            <tr class="page-result">
                <td id="{{ page }}"><a href="{{ url_for('job_page_info', job=job['number'], page=page) }}">{{ page }}</a></td>
                <td>
                    <ul>
                        {% for mutation in data['mutations'] %}
                            <li>{{ mutation }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td><a href="#{{ data['parent'] }}">{{ data['parent'] }}</a></td>
                <td>
                    <table class="success-results extra-results">
                        <tbody>
                            {% for tester, result in data['failures'].items() %}
                                <tr data-success="{{ (((data['parent'] == none and result == 0) or (data['parent'] != none and result != 0)) and tester != 'vnu') or (tester == 'vnu' and result == 0) }}">
                                    <td><a href="{{ url_for('job_page_tester', job=job['number'], page=page, tester=tester) }}">{{ tester }}</a></td>
                                    <td>{{ result }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
